.base {
  text-align: center;
}
 
*{
  font-family: 'Trebuchet MS', sans-serif;
}

.body{
  min-height:80vh;
}

.btn-primary{ 
  background: #497184;
  border-color: #497184; 
}
.btn-primary:hover{
  background: #d46f5f;
  border-color: #d46f5f;
}

.aboutImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40%;
}
button:hover{
  background: #d46f5f;
}
.header-color-one{
  color: #d46f5f;
}
.header-color-two{
  color: #497184;
}
p{
  font-weight: 400;
}
h1{
  color: #497184;
}
h2{
  font-size: 1.2em;
}
h3{
  font-size: 1em;
}
.paths{
  text-decoration: none;
  color: #497184;
}

.paths:hover{
  text-decoration: none;
}

.chatbody {
  background-color: #d8deed;
}

.chatform {
  height: 8vh;
  position: fixed;
  bottom: 0;
  background-color: #497184;
  width: 100%;
  max-width: 30%;
  border-radius: 10%;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 50%;
  border-radius: 5%;
  background-color: #497184;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.0rem;
  background: white;
  color: black;
  padding: 0 10px;
}

.chatp {
  max-width: 600px;
  margin-bottom: 11px;
  line-height: 25px;
  padding: 15px 25px;
  border-radius: 25px;
  position: relative;
  color: black;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: #d46f5f;
  background: white;
  align-self: flex-end;
}
.received p {
  background: #d46f5f;
  color: white;
}