.App {
  text-align: center;
}
 
*{
  font-family: 'Trebuchet MS', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  min-height:80vh;
}

.btn-primary{ 
  background: lightblue;
  border-color: lightblue;
}

.aboutImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40%;
}

.header-color-one{
  color: lightcoral;
}
.header-color-two{
  color: lightblue;
}
p{
  font-weight: 400;
}