.App {
  text-align: center;
}
 
*{
  font-family: 'Trebuchet MS', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  min-height:80vh;
}

.btn-primary{ 
  background: lightblue;
  border-color: lightblue;
}

.aboutImage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10;
  height: 10;
}

.header-color-one{
  color: lightcoral;
}
.header-color-two{
  color: lightblue;
}
p{
  font-weight: 600;
}